
body{
    margin: 0;
}
.wrapper{
    border-radius: 20px;
  margin-top: 80px;  
  margin-left: 550px;
    background-color: #f7f5f5;
   width: 350px;
}
.heading{
    margin-left: 75px;
    padding-top: 20px;
     color: rgb(0, 0, 0);
 }
.rpsButton{
    border-radius: 50%;
    margin-left: 30px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    color: black;
    background-color: white;
}
.rpsButton:hover{
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}
#player-score{
    color: rgb(38, 0, 255);
    padding-left: 110px;
    font-size: 22px;
    padding-top: 15px;
}
#computer-score{
    color: rgb(38, 0, 255);
    padding-left: 90px;
    font-size: 22px;
    padding-top: 15px;
}
#hands{
    color: rgb(0, 0, 0);
    padding-left: 80px;
    font-size: 20px;
    padding-top: 30px;
    
    
}
#result{
    padding-left: 120px;
    padding-top: 30px;
    font-size: 25px;
    padding-bottom: 10px;
}
#endGameButton{
    margin-left: 144px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: black;
    border: none;
    border-radius: 25%;
    background-color: #f7f5f5;
}

#endGameButton:hover{
    background-color: red;
}



